{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>profile | Image Uploader</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">

<style>
        img{
                border-radius:50%;
        }
</style>
</head>
<body>
        <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 ">
                <p class="h5 my-0 me-md-auto fw-normal"><a href="/" class="text-white">Image Uploader</a></p>
                <nav class="my-2 my-md-0 me-md-3">
                        {% if user.is_authenticated%}
                        <a href="/profile/"><img src="{{user.profile.image.url}}" style="width: 30px; border-radius: 50%;" alt=""></a>
                        <a class="p-2" href="/logout/">Logout</a>
                        {%else%}
                        <a class="p-2" href="/signup/">Signup</a>
                        <a class="p-2" href="/login/">Login</a>
                        {%endif%}
                  
                </nav>
              </header>



              {% if messages%}
              {% for message in messages %}
              <div class="font  text-center alert alert-success">
                      {{message}}
              </div>
              {%endfor%}
              {%endif%}
              
      <div class="text-center signup container shadow mb-5 py-5">



              <h1 class="font color">Profile</h1> <br>
              <form action="" method="post" class="font" novalidate enctype="multipart/form-data">
                      {% csrf_token %}
                     <img src="{{user.profile.image.url}}" alt=""> <br> <br>
                      <span class="text-danger font"><b>{{p_form.image.errors}}</b></span>
                      {{p_form}} <br> <br>
        
                      {% for form in u_form%}
                      <span class="text-danger font"><b>{{form.errors}}</b></span>
        <span class="font">{{form.label}}</span> {{form}}  <br> <br>
                      {%endfor%}
                      

              <button class="btn font bg-color text-white">Update</button> <br>
              </form>
      </div>  
</body>
</html>